@tailwind base;
@tailwind components;
@tailwind utilities;

/* mixins */

.background-splash{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top;
    background-attachment:fixed;
}

/* themes */

@layer base{
    body{
        background-color: theme(colors.splash-hex);
        background-color: theme(colors.splash-rgba);
        background-color: theme(colors.splash-hsla);
        background-image: theme(backgroundImages.default);
        @apply background-splash;
    }
}

@layer components{
    nav{
        &.tw-main{
            font-weight:700;
            background-color: theme(colors.ngc-blue-hex);
            background-color: theme(colors.ngc-blue-rgba);
            background-color: theme(colors.ngc-blue-hsla);
            color: #fff;
            @apply tw-rounded;
        }
        &.tw-footer{
            color:red;
        }
    }
}

@layer utilities{
    body{
        font-family: theme(fontFamily.opensans);
    }
}