@tailwind base;
@tailwind components;
@tailwind utilities;

/* themes */

@layer base {
	.background-splash {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
	}
	.bg-splash {
		background-color: theme(colors.splash-hex);
		background-color: theme(colors.splash-rgba);
		background-color: theme(colors.splash-hsla);
	}
	.galleryThreeCols{
		flex-basis: theme(spacing.gallery-three-cols);
	}
	.galleryTwoCols{
		flex-basis: theme(spacing.gallery-two-cols);
	}
}

@layer components {
	html{
		@media screen and (max-width:480px) and (orientation:portrait){
			font-size: 62.5%;
		}
		@media screen and (max-width:975px){
			font-size: 8px;
		}
		@media screen and (min-width:976px){
			font-size: 62.5%;
		}
	}
	body {
		background-image: theme(backgroundImages.default);
		font-family: theme(fontFamily.opensans);
		@apply bg-splash background-splash;
	}
	#root{
		@apply tw-mt-[4rem];
	}
	h1{
		@apply tw-text-[7.2rem];
	}
	h2{
		@apply tw-text-[3.6rem] tw-mb-6;
	}
	header {
		nav {
			top:-10rem;
			@apply tw-absolute;
			&.moveNavDown {
				top:0;
				@apply tw-fixed;
			}
			&.tw-main {
				@apply tw-hidden sm:tw-block bg-blue tw-px-[2rem] tw-pb-[1.5rem] tw-pt-[1rem] tw-rounded-bl-lg tw-rounded-br-lg tw-w-fit tw-mx-auto -tw-translate-x-2/4 tw-left-2/4;
				p{
					@apply tw-block tw-leading-none tw-text-center;
					color: #fff;
					font-size:1.6rem;
				}
				hr{
					@apply tw-h-0 tw-bg-none tw-border-none tw-my-4;
					box-shadow: theme(boxShadow.hr-white);
				}
                ul{
                    @apply tw-grid tw-grid-rows-1;
					grid-template-columns: theme(gridTemplateColumns.minmax10);
                    li {
						a {
                            @apply tw-block tw-leading-none tw-text-center;
                            color: #fff;
							font-size:1.6rem;
                        }
						&.home-link{
							@apply tw-flex-grow;
							a {
								@apply tw-block tw-relative;
								&:after{
									@apply tw-absolute tw-top-0 tw-left-0 tw-w-[3rem] tw-h-[2rem];
									content:'';
									background-image: theme(backgroundImages.default);
									background-size:contain;
									background-repeat: no-repeat;
									background-position: center center;
									display:block;
									width: 100%;
								}
							}
						}
                    }
                }
			}
		}
	}
	main {
		section{
			&.about{
				background-color:theme(colors.ngc-blue-hex.700);
				filter: darken(1);
				color:white;
				column-count:2;
				@media screen and (max-width:480px) and (orientation:portrait){
					column-count:1;
				}
				@apply tw-p-8;
				h2{
					column-span:all;
				}
				p{
					@apply tw-text-[1.6rem] tw-leading-[1.45] tw-mb-6;
				}
			}
		}
	}
	footer {
		color: #fff;
		@apply bg-blue tw-py-8 sm:tw-py-1;
		&>div{
			@apply tw-flex tw-flex-col-reverse sm:tw-flex-row;
			font-size:1.4rem;
			nav {
				@apply tw-px-10 tw-pb-[1rem] sm:tw-pb-0;
				&.tw-footer {
					ul {
						@apply tw-flex tw-flex-row tw-ml-4;
						li {
							@apply tw-border-r first:tw-pr-4 last:tw-pl-4 last:tw-border-r-0;
							a {
								@apply tw-font-normal;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

@layer utilities{
	.sr{
		display:none;
	}
    .bg-blue {
		background-color: theme(colors.ngc-blue-hex.DEFAULT);
		background-color: theme(colors.ngc-blue-rgba);
		background-color: theme(colors.ngc-blue-hsla);
	}
	.bg-pink {
		background-color: theme(colors.ngc-light-pink-hex.DEFAULT);
		background-color: theme(colors.ngc-light-pink-rgba);
		background-color: theme(colors.ngc-light-pink-hsla);
	}
	.bg-green {
		background-color: theme(colors.ngc-green-hex.DEFAULT);
		background-color: theme(colors.ngc-green-rgba);
		background-color: theme(colors.ngc-green-hsla);
	}
	.bg-orange {
		background-color: theme(colors.ngc-orange-hex.DEFAULT);
		background-color: theme(colors.ngc-orange-rgba);
		background-color: theme(colors.ngc-orange-hsla);
	}
	.bg-dark-orange {
		background-color: theme(colors.ngc-dark-orange-hex.DEFAULT);
		background-color: theme(colors.ngc-dark-orange-rgba);
		background-color: theme(colors.ngc-dark-orange-hsla);
	}
}
