@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unna:wght@400;700&display=swap');
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* themes */

@layer base {
	html {
		--main-paddin-top: 6.8rem;
		font-family: theme(fontFamily.opensans);
		font-size: 8px;
		@screen md {
			font-size: 62.5%;
		}
		body {
			@apply bg-splash-aqua;
			#root {
				@apply tw-my-[5.8rem] sm:tw-my-[5.8rem];
				h1,
				h2 {
					font-family: theme(fontFamily.unna);
				}
				h1 {
					@apply tw-text-center tw-text-[2.8rem] sm:tw-text-[3.2rem] tw-leading-[1];
					color: #fff;
					font-size: theme(fontSize.h1);
					@media screen and (max-width: 480px) and (orientation: portrait) {
						font-size: theme(fontSize.h1Mobile);
					}
				}
				h2 {
					@apply tw-text-[3.6rem] tw-mb-6;
				}
				main {
					padding-top: var(--main-paddin-top);
					z-index: 0;
					section {
						@apply tw-p-[2rem];
					}
				}
				footer {
					color: #fff;
					@apply bg-blue sm:tw-py-[1.5rem];
				}
			}
		}
	}
}

@layer components {
	html {
		body {
			/* Header.jsx */
			header {
				@apply tw-h-0 tw-bg-none tw-border-none;
				/* box-shadow: theme(boxShadow.thinBlackBorder); */
				hr {
					@apply tw-h-0 tw-bg-none tw-border-none tw-my-5;
					box-shadow: theme(boxShadow.hr-white);
				}
				/* Menu.jsx */
				.nav-wrapper {
					@apply tw-absolute tw-z-10 bg-blue tw-px-[2rem] tw-py-[1.5rem] tw-rounded-bl-lg tw-rounded-br-lg tw-w-fit tw-mx-auto -tw-translate-x-2/4 tw-left-2/4;
					top: -20rem;
					box-shadow: 0 0 4px 2px rgb(0 0 0 / 16%);
					&.moveNavDown {
						top: 0;
						@apply tw-fixed;
					}
					nav {
						&.tw-main {
							@apply sm:tw-block;
							p {
								@apply tw-block tw-leading-none tw-text-center;
								color: #fff;
							}
							ul {
								@apply tw-grid tw-grid-rows-1;
								grid-template-columns: theme(gridTemplateColumns.minmax10);
								li {
									a {
										@apply tw-block tw-leading-none tw-text-center navXs sm:default;
										color: #fff;
									}
									&.home-link {
										@apply tw-flex-grow;
										a {
											@apply tw-flex tw-relative;
										}
									}
								}
							}
						}
					}
				}
			}
			/* Main.jsx */
			main {
				&:before {
					@apply background-splash;
					background-image: theme(backgroundImage.default);
					z-index: -2;
					position: fixed;
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: '';
				}
				&:after {
					background-color: #ffffff;
					z-index: -1;
					position: fixed;
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: '';
				}
				&.home {
					/* background image */
					&:before {
						opacity: 1;
						animation: bgFadeIn 0.25s linear normal;
					}
					/* foreground color */
					&:after {
						opacity: 0;
						animation: foreFadeOut 0.25s linear normal;
					}
				}
				&:not(.home) {
					/* background image */
					&:before {
						opacity: 0;
						animation: bgFadeOut 0.25s linear normal;
					}
					/* foreground color */
					&:after {
						opacity: 0.85;
						animation: foreFadeIn 0.25s linear normal;
					}
				}
				section {
					/* Home.jsx */
					&.home {
						/* TitleAnimated.jsx */
						#titleAnimate {
							@apply tw-text-[4.5rem] sm:tw-text-[7.2rem];
							top: calc(50% - var(--main-paddin-top));
							letter-spacing: normal;
							font-family: 'Unna', serif;
							&.titleTextSpread {
								letter-spacing: 1rem;
							}
						}
					}
					/* About.jsx */
					&.about {
						@apply tw-p-8;
						color: #000000;
						.segment{
							position: relative;
							&:not(:last-of-type){
								&:after{
									content: "\25C6\25C6\25C6";
									position: absolute;
									line-height: 1;
									bottom: -1rem;
									font-size:2rem;
									padding: 1rem;
									left: 50%;
									transform: translate(-50%,0.9rem);
									background-color: #EDF7F8;
									color: theme(colors.ngc.blue.hex.DEFAULT);
									display: flex;
									}
							}
						}
						p {
							@apply tw-text-[1.6rem] tw-leading-[1.45];
							&:before{
								display: inline-block;
								width: 4rem;
								content: "";
							}
						}
						img {
							&:last-of-type {
								@apply tw-border-b-0;
							}
						}
					}
					.overlay {
						@apply bg-splash-gray;
						box-shadow: inset 0px 0px 200px 100px rgba(0,0,0,1.0);
					}
					/* GalleryForm.jsx */
					&.portfolio {
						form {
							@apply tw-flex tw-justify-center tw-flex-wrap;
							legend {
								flex: 0 0 100%;
							}
							select,
							label {
								@apply tw-text-[1.6rem] tw-mr-[1rem];
							}
						}
						ul {
							li {
								figure {
									img {
										@apply tw-w-full;
										transition: width 0.5s ease-in-out;
									}
									&:before {
										content: '';
										background-color: black;
										width: 100%;
										height: 100%;
										position: absolute;
										left: 0;
										top: 0;
										z-index: 1;
										opacity: 0;
										transition: opacity 0.5s ease-in-out;
									}
									figcaption {
										z-index: 2;
										color: white;
										opacity: 0;
										transition: opacity 0.5s ease-in-out;
									}
									& > button {
										z-index: 2;
										opacity: 0;
										transition: all 0.5s ease-in-out;
										&:hover {
											background-color: black;
										}
									}
									&:hover {
										img {
											@apply tw-w-[110%] tw-h-auto;
										}
										&:before {
											opacity: 0.5;
										}
										figcaption,
										& > button {
											opacity: 1;
										}
									}
								}
							}
							/* Modal.jsx */
							.modal {
								/* @apply sm:tw-overflow-auto; */
								width: calc(100% - 2rem);
								scrollbar-color: #999 #333;
								img {
									height: auto;
									margin: 0 auto;
								}
								/* &::-webkit-scrollbar {
									-webkit-appearance: none;
									@apply tw-w-[1rem] tw-ml-[10rem];
								}
								&::-webkit-scrollbar-button {
									@apply bg-blue;
								}
								&::-webkit-scrollbar-track {
									background-color: transparent;
									background-clip: content-box;
								}
								&::-webkit-scrollbar-thumb {
									@apply bg-orange tw-rounded-full;
									border: none;
								}
								&::-webkit-scrollbar-corner {
									background-color: transparent;
								} */
								.body {
									height: calc(100% - 12rem);
									&::-webkit-scrollbar {
										-webkit-appearance: none;
										@apply tw-w-[1rem] tw-ml-[100%];
									}
									&::-webkit-scrollbar-button {
										/*@apply bg-blue;*/
									}
									&::-webkit-scrollbar-track {
										@apply tw-bg-black;
										background-clip: content-box;
										background-color: white;
										margin-top:-1.75rem;
										height: 100%;
									}
									&::-webkit-scrollbar-thumb {
										@apply bg-orange;
										border: none;
									}
									&::-webkit-scrollbar-corner {
										background-color: transparent;
									}
									p {
										&.description {
											font-size: theme(fontSize.modalDescription);
										}
									}
								}
							}
						}
					}
				}
			}
			/* Footer.jsx */
			footer {
				& > div {
					@apply tw-flex tw-flex-col-reverse sm:tw-flex-row;
					font-size: 1.4rem;
				}
			}
		}
	}
}

@layer utilities {
	@keyframes bgFadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	@keyframes bgFadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes foreFadeOut {
		from {
			opacity: 8.5;
		}
		to {
			opacity: 0;
		}
	}
	@keyframes foreFadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 0.85;
		}
	}
	.sr {
		display: none;
	}
	.background-splash {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
	}
	.bg-splash-aqua {
		background-color: theme(colors.splash.aqua.hex);
		background-color: theme(colors.splash.aqua.rgba);
		background-color: theme(colors.splash.aqua.hsla);
	}
	.bg-splash-white {
		background-color: theme(colors.splash.white.hex);
		background-color: theme(colors.splash.white.rgba);
		background-color: theme(colors.splash.white.hsla);
	}
	.bg-splash-gray {
		background-color: theme(colors.splash.gray.hex);
		background-color: theme(colors.splash.gray.rgba);
		background-color: theme(colors.splash.gray.hsla);
	}
	.portfolioThreeCols {
		flex-basis: theme(spacing.portfolio-three-cols);
	}
	.portfolioTwoCols {
		flex-basis: theme(spacing.portfolio-two-cols);
	}
	.navXs {
		font-size: theme(fontSize.navXs);
	}
	.default {
		font-size: theme(fontSize.default);
	}
	.bg-blue {
		background-color: theme(colors.ngc.blue.hex.DEFAULT);
		background-color: theme(colors.ngc.blue.rgba);
		background-color: theme(colors.ngc.blue.hsla);
	}
	.bg-pink {
		background-color: theme(colors.ngc.pink.hex.DEFAULT);
		background-color: theme(colors.ngc.pink.rgba);
		background-color: theme(colors.ngc.pink.hsla);
	}
	.bg-green {
		background-color: theme(colors.ngc.green.hex.DEFAULT);
		background-color: theme(colors.ngc.green.rgba);
		background-color: theme(colors.ngc.green.hsla);
	}
	.bg-orange {
		background-color: theme(colors.ngc.orange.hex.DEFAULT);
		background-color: theme(colors.ngc.orange.rgba);
		background-color: theme(colors.ngc.orange.hsla);
	}
	.bg-dark-orange {
		background-color: theme(colors.ngc.darkorange.hex.DEFAULT);
		background-color: theme(colors.ngc.darkorange.rgba);
		background-color: theme(colors.ngc.darkorange.hsla);
	}
}
